{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block title %}SignUp{% endblock %}
{% block content %}
<h4> SIGNUP </h4>
<div class="row">
    <div class="col-sm-3 col-md-3">
<form enctype="multipart/form-data" action = "{% url 'signup' %}" method='POST'>
		{% csrf_token %}
<!--        {{f.as_p}}-->
<!--<button type="submit" id="sign-btn" name="sign">SIGN UP</button>-->
        {{f|crispy}}
        <input class='btn btn-primary' type='submit' value='Sign Up'/>
</form>
    </div>
</div>
{% endblock %}